.iframe-payment {
    width: 490px;
    display: inline-block;
    margin: 0 auto;
    height: 900px;
}
.col.centering {
    align-items: center;
    margin: 0 auto;
    margin-left: 5%;
    width: 100%;
}
.iframe-loader {
    position: absolute;
    top: 10%;
    left: 45%;
}
.iframe-container {
    border-top: 1px solid #3d3838;
}
