@font-face {
    font-family: 'Untitled1';
    src: url('../../assets/seat-sources/seatsource.woff2') format('woff2'), url('../../assets/seat-sources/seatsource.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
.seat-element {
    font-family: 'Untitled1';
   /*&:hover{
        .tooltiptext {
            visibility: visible;
       }
   }
   */
}
/*.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    //Position the tooltip position: absolute;
    z-index: 1;
}
*/
.popover {
    top: -90px !important;
    left: 0px !important;
}
